<div>
  <button type="button" class="btn btn-default" ng-controller="AddInstanceModalCtrl" ng-click="open()">{{ 'INSTANCE_OFFERING_ADD' | translate}}</button>
  <br>
  <div list-toolbar-directive></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>CPU Number</th>
        <th>CPU Speed</th>
        <th>Memory</th>
        <th>State</th>
        <th>UUID</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemList" ng-click="select($event, item)" ng-class="{'table-highlight': item.selected}">
        <td ng-if="item.collapsed"><a ng-click="item.collapsed=!item.collapsed">{{item.name}}</a></td>
        <td ng-if="item.collapsed">{{item.description}}</td>
        <td ng-if="item.collapsed">{{item.cpuNum}}</td>
        <td ng-if="item.collapsed">{{item.cpuSpeed}} MHZ</td>
        <td ng-if="item.collapsed">{{ZStackUtil.bytesToSize(item.memorySize)}}</td>
        <td ng-if="item.collapsed">{{item.state}}</td>
        <td ng-if="item.collapsed">{{item.uuid}}</td>
        <td colspan="7" ng-if="!item.collapsed">
          <div instance-offering-details-directive ng-model="item"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>