<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{ 'DASHBOARD_CAPACITY_NAME' | translate }}</th>
        <th>{{ 'DASHBOARD_TOTAL_COPACITY' | translate }}</th>
        <th>{{ 'DASHBOARD_AVAILABLE_CAPACITY' | translate }}</th>
        <th>{{ 'DASHBOARD_AVAILABLE_PERCENTAGE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in capList">
        <td>{{item.name | translate}}</td>
        <td>{{item.total}}</td>
        <td>{{item.available}}</td>
        <td>{{item.percent}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{ 'DASHBOARD_RESOURCE_NAME' | translate }}</th>
        <th>{{ 'COUNT' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in resList">
        <td>{{item.name | translate}}</td>
        <td>{{item.count}}</td>
      </tr>
    </tbody>
  </table>
</div>