<div class="modal-header">
  Select Instanceitem
</div>
<div class="modal-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Hypervisor</th>
        <th>Type</th>
        <th>State</th>
        <th>Status</th>
        <th>VM Instance UUID</th>
        <th>UUID</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemList" ng-click="select(item)" ng-class="{'table-highlight': item.uuid == selectedItem.uuid}">
        <td>{{item.name}}</td>
        <td></td>
        <td>{{item.type}}</td>
        <td>{{item.state}}</td>
        <td>{{item.status}}</td>
        <td>{{item.vmInstanceUuid}}</td>
        <td>{{item.uuid}}</td>
      </tr>
    </tbody>
  </table>
<div class="modal-footer">
  <button class="btn" ng-click="cancel()">Cancel</button>
  <button class="btn btn-default" ng-click="ok()">OK</button>
</div>