<div ng-show="showDialog">
  <div class="modal-header">
    <h3>{{data.modalName}}</h3>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="row">
        <button ng-controller="SelectImageModalCtrl" type="button" class="btn btn-default" ng-click="open()">Test</button>

        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
        <div>a</div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="nextStep()">Next Step</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</div>