<div ng-show="showDialog">
  <div class="modal-header">
    <h3>{{data.modalName}}</h3>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" ng-model="name">
      </div>
      <div class="form-group">
        <label for="usr">Host Name:</label>
        <input type="text" class="form-control" ng-model="hostname">
      </div>
      <div class="form-group">
        <label for="usr">Image:</label>
        <input type="text" class="form-control" ng-model="image.name" disabled>
        <a ng-controller="ImageModalCtrl" href="" ng-click="open()">Select</a>
      </div>
      <div class="form-group">
        <label for="usr">InstanceOffering:</label>
        <input type="text" class="form-control" ng-model="instanceOffering.name" disabled>
        <a ng-controller="InstanceOfferingModalCtrl" ng-click="open()">Select</a>
      </div>
      <div class="form-group">
        <label for="usr">DataOffering:</label>
        <input type="text" class="form-control" ng-model="dataOffering.name" disabled>
        <a ng-controller="DataOfferingModalCtrl" ng-click="open()">Select</a>
      </div>
      <div class="form-group">
        <label for="usr">Host:</label>
        <input type="text" class="form-control" ng-model="host.name" disabled>
        <a ng-controller="HostModalCtrl" ng-click="open()">Select</a>
      </div>
      <div class="form-group">
        <label for="usr">Ip:</label>
        <input type="text" class="form-control" ng-model="ip">
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default" ng-click="ok()">OK</button>
  </div>
</div>