<div>
  <span ng-if="!simple">
    <button type="button" class="btn btn-default" ng-controller="CreateInstanceModalCtrl" ng-click="open()">Create item</button>
    <button ng-if="selectList.length > 0" type="button" class="btn btn-default" ng-click="start()">{{ 'INSTANCE_START' | translate }}</button>
    <button ng-if="selectList.length > 0" type="button" class="btn btn-default" ng-click="stop()">{{ 'INSTANCE_STOP' | translate }}</button>
    <button ng-if="selectList.length > 0" type="button" class="btn btn-default" ng-click="reboot()">{{ 'INSTANCE_REBOOT' | translate }}</button>
    <button ng-if="selectList.length > 0" type="button" class="btn btn-default" ng-click="destroy()">{{ 'INSTANCE_DELETE' | translate }}</button>
  </span>
  <search_directive style="float: right;"></search_directive>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><input type="checkbox" ng-model="selectAllItems" ng-click="selectAll()"></input></th>
        <th ng-click="onClickTableHeader('name')">Name<span class="caret" ng-class="{'caret-reversed': sortDirection=='desc'}" ng-show="sortByField=='name'"></span></th>
        <th>Description</th>
        <th>Default IP</th>
        <th>Host IP</th>
        <th ng-click="onClickTableHeader('state')">State<span class="caret" ng-class="{'caret-reversed': sortDirection=='desc'}" ng-show="sortByField=='state'"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemList" ng-class="{'table-highlight': item.selected}">
        <td><input type="checkbox" ng-model="item.selected" ng-click="select(item)"></input></td>
        <td ng-if="item.collapsed"><a ng-click="item.collapsed=!item.collapsed">{{item.name}}</a></td>
        <td ng-if="item.collapsed"></td>
        <td ng-if="item.collapsed">{{item.vmNics[0].ip}}</td>
        <td ng-if="item.collapsed"></td>
        <td ng-if="item.collapsed">{{item.state}}</td>
        <td colspan="6" ng-if="!item.collapsed">
          <div instance-details-directive ng-model="item"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination_directive></pagination_directive>
</div>