<div class="col-sm-9 col-md-10 main">
  <button type="button" class="btn btn-default" ng-controller="CreateInstanceModalCtrl" ng-click="open()">Create VM</button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Default IP</th>
        <th>Host IP</th>
        <th>State</th>
        <th>UUID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="vm in vmList">
        <td ng-if="vm.collapsed"><a ng-click="onClickRow(vm)">{{vm.name}}</a></td>
        <td ng-if="vm.collapsed"></td>
        <td ng-if="vm.collapsed">{{vm.vmNics[0].ip}}</td>
        <td ng-if="vm.collapsed"></td>
        <td ng-if="vm.collapsed">{{vm.state}}</td>
        <td ng-if="vm.collapsed">{{vm.uuid}}</td>
        <td colspan="6" ng-if="!vm.collapsed">
          <div details-directive ng-model="vm"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>