<div class="form-horizontal zs-details">
  <div class="btn-toolbar">
    <span class="btn-group">
      <a class="btn btn-default" ng-if="data.state!='Enabled'" ng-click="ZStackApi.enableVolume(data.uuid)">{{ 'ENABLE' | translate }}</a>
      <a class="btn btn-default" ng-if="data.state=='Enabled'" ng-click="ZStackApi.disableVolume(data.uuid)">{{ 'DISABLE' | translate }}</a>
      <a class="btn btn-default" ng-if="data.status!='Ready'" ng-controller="InstanceModalCtrl" ng-click="open()">{{ 'ATTACH' | translate }}</a>
      <a class="btn btn-default" ng-if="data.status=='Ready'" ng-click="ZStackApi.detachVolume(data.uuid)">{{ 'DETACH' | translate }}</a>
      <a class="btn btn-default" ng-controller="CreateImageModalCtrl" ng-click="open()">{{ 'VOLUME_CREATE_IMAGE' | translate }}</a>
    </span>
    <a class="btn btn-danger" ng-click="ZStackApi.deleteVolume(data.uuid)">{{ 'DELETE' | translate }}</a>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <label>Name:</label>
        <div class="form-control-static">{{data.name}}</div>
      </div>
      <div class="row">
        <label>Description:</label>
        <div class="form-control-static">{{data.description}}</div>
      </div>
      <div class="row">
        <label>State:</label>
        <div class="form-control-static">{{data.state}}</div>
      </div>
      <div class="row">
        <label>Status:</label>
        <div class="form-control-static">{{data.status}}</div>
      </div>
      <div class="row">
        <label>Vm UUID:</label>
        <div class="form-control-static">{{data.vmInstanceUuid}}</div>
      </div>
      <div class="row">
        <label>UUID:</label>
        <div class="form-control-static">{{data.uuid}}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <label>Size:</label>
        <div class="form-control-static">{{ZStackUtil.bytesToSize(data.size)}}</div>
      </div>
      <div class="row">
        <label>Format:</label>
        <div class="form-control-static">{{data.format}}</div>
      </div>
      <div class="row">
        <label>Type:</label>
        <div class="form-control-static">{{data.type}}</div>
      </div>
      <div class="row">
        <label>Create Date:</label>
        <div class="form-control-static">{{data.createDate}}</div>
      </div>
      <div class="row">
        <label>Last Update Date:</label>
        <div class="form-control-static">{{data.lastOpDate}}</div>
      </div>
    </div>
  </div>
  <span><a class="btn zs-btn-noborder" ng-click="collapse()"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>