<div class="form-horizontal zs-details">
  <div class="btn-toolbar">
    <span class="btn-group">
      <a class="btn btn-default" ng-if="data.state!='Enabled'" ng-click="enable()">{{ 'ENABLE' | translate }}</a>
      <a class="btn btn-default" ng-if="data.state=='Enabled'" ng-click="disable()">{{ 'DISABLE' | translate }}</a>
      <a class="btn btn-default" ng-if="data.status!='Ready'" ng-controller="InstanceModalCtrl" ng-click="open()">{{ 'ATTACH' | translate }}</a>
      <a class="btn btn-default" ng-if="data.status=='Ready'" ng-click="detach()">{{ 'DETACH' | translate }}</a>
      <a class="btn btn-default" ng-controller="CreateImageModalCtrl" ng-click="open()">{{ 'VOLUME_CREATE_IMAGE' | translate }}</a>
      <a class="btn btn-default" ng-click="createSnapShoot()">{{ 'VOLUME_CREATE_SNAPSHOT' | translate }}</a>
    </span>
    <a class="btn btn-danger" ng-click="delete()">{{ 'DELETE' | translate }}</a>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <label>Name:</label>
        <div class="form-control-static">{{data.name}}</div>
      </div>
      <div class="row">
        <label>Description:</label>
        <div class="form-control-static">{{data.description}}</div>
      </div>
      <div class="row">
        <label>State:</label>
        <div class="form-control-static zs-state"><span class="label" ng-class="{'label-success': data.state=='Enabled', 'label-default': data.state!='Enabled'}">{{data.state}}</span></div>
      </div>
      <div class="row">
        <label>Status:</label>
        <div class="form-control-static zs-state"><span class="label" ng-class="{'label-success': data.status=='Ready', 'label-default': data.status!='Ready'}">{{data.status}}</span></div>
      </div>
      <div class="row">
        <label>Vm UUID:</label>
        <div class="form-control-static">{{data.vmInstanceUuid}}</div>
      </div>
      <div class="row">
        <label>UUID:</label>
        <div class="form-control-static">{{data.uuid}}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <label>Size:</label>
        <div class="form-control-static">{{ZStackUtil.bytesToSize(data.size)}}</div>
      </div>
      <div class="row">
        <label>Format:</label>
        <div class="form-control-static">{{data.format}}</div>
      </div>
      <div class="row">
        <label>Type:</label>
        <div class="form-control-static">{{data.type}}</div>
      </div>
      <div class="row">
        <label>Create Date:</label>
        <div class="form-control-static">{{data.createDate}}</div>
      </div>
      <div class="row">
        <label>Last Update Date:</label>
        <div class="form-control-static">{{data.lastOpDate}}</div>
      </div>
    </div>
  </div>
  <treecontrol class="tree-light"
    tree-model="data.snapshotTreeRoot"
    options="treeOptions">
    <a href ng-if="!node.inventory.expanded" ng-click="node.inventory.expanded = true">{{node.inventory.name}}</a>
    <div class="zs-tree-node-expanded" href ng-if="!!node.inventory.expanded">
      <a class="btn btn-default" ng-click="revertSnapshot(node.inventory)">{{ 'REVERT' | translate }}</a>
      <a class="btn btn-default" ng-click="backupSnapshot(node.inventory)">{{ 'BACKUP' | translate }}</a>
      <a class="btn btn-danger" ng-click="deleteSnapshot(node.inventory)">{{ 'DELETE' | translate }}</a>
      <div class="row">
        <label>Name:</label>
        <div class="form-control-static">{{node.inventory.name}}</div>
      </div>
      <div class="row">
        <label>Create Date:</label>
        <div class="form-control-static">{{node.inventory.createDate}}</div>
      </div>
      <span><a class="btn zs-btn-noborder" ng-click="node.inventory.expanded = false"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
  </treecontrol>
  <span><a class="btn zs-btn-noborder" ng-click="collapse()"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>