<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="zstackUI" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="zstackUI" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="zstackUI" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="zstackUI" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UI App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
</head>
<body class="vbox viewport">
<!--   <ul class="menu">
    <li><a href="#/login">Login</a></li>
    <li><a href="#/vminstance">VmInstance</a></li>
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header>
    <div>
      <div>
        <a class="navbar-brand" href="#/main/dashboard">ZStack</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div dropdown dropdown-append-to-body class="header-button">
              <a href dropdown-toggle>
                {{ 'LANGUAGE' | translate }}
              </a>
              <ul class="dropdown-menu" role="menu" style="z-index:9999">
                <li role="menuitem"><a href ng-click="changeLanguage('en')">English</a></li>
                <li role="menuitem"><a href ng-click="changeLanguage('zh-CN')">中文</a></li>
              </ul>
            </div>
          </li>
          <li ng-if="$window.loggedin"><a href="#settings" class="header-button">{{ 'SETTINGS' | translate }}</a></li>
          <li ng-if="$window.loggedin"><a href class="header-button" ng-click="logout()">{{ 'LOGOUT' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section ui-view class="main hbox space-between"></section>

<!--   <footer>
    ©2015 ZStack.org
  </footer> -->

  <script src="app.js"></script>
</body>
</html>
