<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="zstackUI" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="zstackUI" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="zstackUI" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="zstackUI" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UI App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--   <ul class="menu">
    <li><a href="#/login">Login</a></li>
    <li><a href="#/vminstance">VmInstance</a></li>
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ZStack</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li style="padding:15px;">
            <div dropdown dropdown-append-to-body>
              <a href dropdown-toggle style="color:#999">
                Language
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body" style="z-index:9999">
                <li role="menuitem"><a href ng-click="changeLanguage('en')">English</a></li>
                <li role="menuitem"><a href ng-click="changeLanguage('zh-CN')">中文</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>

  <div ui-view><div>

  <footer>
    <p class="pull-right">©2015 Company</p>
  </footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="bower_components/socket.io-client/dist/socket.io.min.js"></script>
  <script src="bower_components/cryptojslib/rollups/sha512.js"></script>
  <script src="i18n.js"></script>
  <script src="app.js"></script>
  <script src="main/main.js"></script>
  <script src="login/login.js"></script>
  <script src="select_modals/modal_controller.js"></script>
  <script src="dashboard/dashboard.js"></script>
  <script src="instance/instance.js"></script>
  <script src="instance/directive.js"></script>
  <script src="instance/details.js"></script>
  <script src="instance/details_directive.js"></script>
  <script src="instance/modal_controller.js"></script>
  <script src="host/host.js"></script>
  <script src="host/directive.js"></script>
  <script src="host/modal_controller.js"></script>
  <script src="host/details.js"></script>
  <script src="host/details_directive.js"></script>
  <script src="image/image.js"></script>
  <script src="image/directive.js"></script>
  <script src="image/modal_controller.js"></script>
  <script src="image/details.js"></script>
  <script src="image/details_directive.js"></script>
  <script src="data_offering/offering.js"></script>
  <script src="data_offering/directive.js"></script>
  <script src="data_offering/modal_controller.js"></script>
  <script src="data_offering/details.js"></script>
  <script src="data_offering/details_directive.js"></script>
  <script src="instance_offering/offering.js"></script>
  <script src="instance_offering/directive.js"></script>
  <script src="instance_offering/modal_controller.js"></script>
  <script src="instance_offering/details.js"></script>
  <script src="instance_offering/details_directive.js"></script>
  <script src="network/network.js"></script>
  <script src="network/modal_controller.js"></script>
  <script src="network/directive.js"></script>
  <script src="network/details_directive.js"></script>
  <script src="volume/volume.js"></script>
  <script src="volume/modal_controller.js"></script>
  <script src="volume/directive.js"></script>
  <script src="volume/details.js"></script>
  <script src="volume/details_directive.js"></script>
  <script src="services/api.js"></script>
  <script src="services/util.js"></script>
</body>
</html>
