<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Zizhu</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/ng-inline-edit/dist/ng-inline-edit.min.css">
  <link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control.css">
  <link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control-attribute.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="bower_components/socket.io-client/dist/socket.io.min.js"></script>
  <script src="bower_components/cryptojslib/rollups/sha512.js"></script>
  <script src="bower_components/ng-inline-edit/dist/ng-inline-edit.min.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="bower_components/angular-tree-control/angular-tree-control.js"></script>
  <script src="js/app.js"></script>
  <script src="js/main/main.js"></script>
  <script src="js/login/login.js"></script>
  <script src="js/init_wizard/init_wizard.js"></script>
  <script src="js/helper_modals/modal_controller.js"></script>
  <script src="js/helper_directives/pagination_directive.js"></script>
  <script src="js/helper_directives/search_directive.js"></script>
  <script src="js/dashboard/dashboard.js"></script>
  <script src="js/instance/instance.js"></script>
  <script src="js/instance/directive.js"></script>
  <script src="js/instance/details.js"></script>
  <script src="js/instance/details_directive.js"></script>
  <script src="js/instance/modal_controller.js"></script>
  <script src="js/host/host.js"></script>
  <script src="js/host/directive.js"></script>
  <script src="js/host/modal_controller.js"></script>
  <script src="js/host/details.js"></script>
  <script src="js/host/details_directive.js"></script>
  <script src="js/image/image.js"></script>
  <script src="js/image/directive.js"></script>
  <script src="js/image/modal_controller.js"></script>
  <script src="js/image/details.js"></script>
  <script src="js/image/details_directive.js"></script>
  <script src="js/data_offering/offering.js"></script>
  <script src="js/data_offering/directive.js"></script>
  <script src="js/data_offering/modal_controller.js"></script>
  <script src="js/data_offering/details.js"></script>
  <script src="js/data_offering/details_directive.js"></script>
  <script src="js/instance_offering/offering.js"></script>
  <script src="js/instance_offering/directive.js"></script>
  <script src="js/instance_offering/modal_controller.js"></script>
  <script src="js/instance_offering/details.js"></script>
  <script src="js/instance_offering/details_directive.js"></script>
  <script src="js/security_group/security_group.js"></script>
  <script src="js/security_group/directive.js"></script>
  <script src="js/security_group/modal_controller.js"></script>
  <script src="js/security_group/details.js"></script>
  <script src="js/security_group/details_directive.js"></script>
  <script src="js/network/network.js"></script>
  <script src="js/network/modal_controller.js"></script>
  <script src="js/network/directive.js"></script>
  <script src="js/network/details_directive.js"></script>
  <script src="js/volume/volume.js"></script>
  <script src="js/volume/modal_controller.js"></script>
  <script src="js/volume/directive.js"></script>
  <script src="js/volume/details.js"></script>
  <script src="js/volume/details_directive.js"></script>
  <script src="js/services/api.js"></script>
  <script src="js/services/util.js"></script>
  <script src="js/log/log.js"></script>
  <script src="js/settings/settings.js"></script>
</head>
<body class="vbox viewport">
<!--   <ul class="menu">
    <li><a href="#/login">Login</a></li>
    <li><a href="#/vminstance">VmInstance</a></li>
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header>
    <div>
      <div>
        <a class="navbar-brand" href="#/main/dashboard">Zizhu</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div dropdown dropdown-append-to-body class="header-button">
              <a class="ng-cloak" href dropdown-toggle>
                {{ 'LANGUAGE' | translate }}
              </a>
              <ul class="dropdown-menu" role="menu" style="z-index:9999">
                <li role="menuitem"><a href ng-click="changeLanguage('en')">English</a></li>
                <li role="menuitem"><a href ng-click="changeLanguage('zh-CN')">中文</a></li>
              </ul>
            </div>
          </li>
          <li ng-if="$window.loggedin"><a class="ng-cloak" href="#settings" class="header-button">{{ 'SETTINGS' | translate }}</a></li>
          <li ng-if="$window.loggedin"><a class="ng-cloak" href class="header-button" ng-click="logout()">{{ 'LOGOUT' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section ui-view class="main hbox space-between"></section>
  <alert class="zs-alert" ng-if="!!alert" ng-model="alert" type="danger" close="closeAlert()">{{alert}}</alert>

<!--   <footer>
    ©2015 ZStack.org
  </footer> -->
</body>
</html>
