<div class="form-horizontal zs-details">
  <div class="btn-toolbar">
    <span class="btn-group">
      <a class="btn btn-default" ng-if="data.state!='Enabled'" ng-click="enable()">{{ 'ENABLE' | translate }}</a>
      <a class="btn btn-default" ng-if="data.state=='Enabled'" ng-click="disable()">{{ 'DISABLE' | translate }}</a>
      <a class="btn btn-default" ng-if="data.status=='Connected'" ng-click="reconnect()">{{ 'HOST_RECONNECT' | translate }}</a>
      <a class="btn btn-default" ng-if="data.state=='Enabled' || data.state=='Disabled'" ng-controller="ConfirmModalCtrl" ng-click="open(maintain)">{{ 'HOST_MAINTENANCE' | translate }}</a>
    </span>
    <span class="btn-group">
      <a class="btn btn-danger" ng-controller="ConfirmModalCtrl" ng-click="open(delete)">{{ 'DELETE' | translate }}</a>
    </span>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <label>{{ 'Name' | translate }}:</label>
        <div class="form-control-static">{{data.name}}</div>
      </div>
      <div class="row">
        <label>{{ 'Description' | translate }}:</label>
        <div class="form-control-static" style="min-height:27px">{{data.description}}</div>
      </div>
      <div class="row">
        <label>{{ 'State' | translate }}:</label>
        <div class="form-control-static zs-state"><span class="label" ng-class="{'label-success': data.state=='Enabled', 'label-default': data.state!='Enabled'}">{{data.state}}</span></div>
      </div>
      <div class="row">
        <label>{{ 'HOST_STATUS' | translate }}:</label>
        <div class="form-control-static zs-state"><span class="label" ng-class="{'label-success': data.status=='Connected', 'label-default': data.status!='Connected'}">{{data.status}}</span></div>
      </div>
      <div class="row">
        <label>{{ 'UUID' | translate }}:</label>
        <div class="form-control-static">{{data.uuid}}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <label>{{ 'Hypervisor' | translate }}:</label>
        <div class="form-control-static">{{data.hypervisorType}}</div>
      </div>
      <div class="row">
        <label>{{ 'Host IP' | translate }}:</label>
        <div class="form-control-static">{{data.managementIp}}</div>
      </div>
      <div class="row">
        <label>{{ 'Create Date' | translate }}:</label>
        <div class="form-control-static">{{data.createDate}}</div>
      </div>
      <div class="row">
        <label>{{ 'Last Update Date' | translate }}:</label>
        <div class="form-control-static">{{data.lastOpDate}}</div>
      </div>
    </div>
  </div>
  <span><a class="btn zs-btn-noborder" ng-click="collapse()"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>