<div>
  <span ng-if="!simple" style="float: left;">
    <button type="button" class="btn btn-default" ng-controller="AddHostModalCtrl" ng-click="open()">{{ 'HOST_ADD' | translate}}</button>
    <button ng-if="selectList.length > 0" type="button" class="btn btn-default" ng-click="enable()">{{ 'ENABLE' | translate }}</button>
    <button ng-if="selectList.length > 0" type="button" class="btn btn-default" ng-click="disable()">{{ 'DISABLE' | translate }}</button>
    <button ng-if="selectList.length > 0" type="button" class="btn btn-default" ng-click="reconnect()">{{ 'HOST_RECONNECT' | translate }}</button>
    <button ng-if="selectList.length > 0" type="button" class="btn btn-default" ng-click="maintain()">{{ 'HOST_MAINTENANCE' | translate }}</button>
    <button ng-if="selectList.length > 0" type="button" class="btn btn-default" ng-click="delete()">{{ 'DELETE' | translate }}</button>
  </span>
  <search_directive style="float: right;"></search_directive>
  <table class="table table-hover"  style="clear: both;">
    <thead>
      <tr>
        <th><input type="checkbox" ng-model="selectAllItems" ng-click="selectAll()"></input></th>
        <th>Name</th>
        <th>Description</th>
        <th>Management IP</th>
        <th>Hypervisor</th>
        <th>State</th>
        <th>Status</th>
        <th>UUID</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemList" ng-click="select($event, item)" ng-class="{'table-highlight': item.selected}">
        <td><input type="checkbox" ng-model="item.selected" ng-click="select(item)"></input></td>
        <td ng-if="item.collapsed"><a ng-click="item.collapsed = !item.collapsed">{{item.name}}</a></td>
        <td ng-if="item.collapsed">{{item.description}}</td>
        <td ng-if="item.collapsed">{{item.managementIp}}</td>
        <td ng-if="item.collapsed">{{item.hypervisorType}}</td>
        <td ng-if="item.collapsed">{{item.state}}</td>
        <td ng-if="item.collapsed">{{item.status}}</td>
        <td ng-if="item.collapsed">{{item.uuid}}</td>
        <td colspan="7" ng-if="!item.collapsed" style="display: none;">
          <div host-details-directive ng-model="item"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination_directive></pagination_directive>
</div>