<div class="form-horizontal">
  <div>
    <span><a ng-click="collapse()">{{ 'COLLAPSE' | translate }}</a></span>
    <span><a ng-click="ZStackApi.enableInstanceOffering(data.uuid)">{{ 'ENABLE' | translate }}</a></span>
    <span><a ng-click="ZStackApi.disableInstanceOffering(data.uuid)">{{ 'DISABLE' | translate }}</a></span>
    <span><a ng-click="ZStackApi.deleteInstanceOffering(data.uuid)">{{ 'DELETE' | translate }}</a></span>
  </div>
  <div class="row">
    <label class="col-md-3 control-label">Name:</label>
    <div class="form-control-static">{{data.name}}</div>
  </div>
  <div class="row">
    <label class="col-md-3 control-label">Description:</label>
    <div class="form-control-static">{{data.description}}</div>
  </div>
  <div class="row">
    <label class="col-md-3 control-label">State:</label>
    <div class="form-control-static">{{data.state}}</div>
  </div>
  <div class="row">
    <label class="col-md-3 control-label">CPU Number:</label>
    <div class="form-control-static">{{data.cpuNum}}</div>
  </div>
  <div class="row">
    <label class="col-md-3 control-label">CPU Speed:</label>
    <div class="form-control-static">{{data.cpuSpeed}} MHZ</div>
  </div>
  <div class="row">
    <label class="col-md-3 control-label">Memory Size:</label>
    <div class="form-control-static">{{ZStackUtil.bytesToSize(data.memorySize)}}</div>
  </div>
  <div class="row">
    <label class="col-md-3 control-label">Create Date:</label>
    <div class="form-control-static">{{data.createDate}}</div>
  </div>
  <div class="row">
    <label class="col-md-3 control-label">Last Update Date:</label>
    <div class="form-control-static">{{data.lastOpDate}}</div>
  </div>
</div>