<label for="usr">Search:</label>
<div class="btn-group" dropdown is-open="false">
  <button type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
    {{searchField}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="media-type-button">
    <li role="menuitem" ng-repeat="item in searchFieldList">
      <a ng-click="selectSearchField(item)">{{item}}</a>
    </li>
  </ul>
</div>
<input type="text" ng-model="searchString" ng-trim="true" ng-keyup="search()"></input>
<!--   <button type="button" class="btn btn-default" ng-click="prev()">Prev</button>
<button type="button" class="btn btn-default" ng-click="next()">Next</button>
<input type="number" ng-model="pageIndex"></input> / {{pageCount}}
<button type="button" class="btn btn-default" ng-click="go()">Go</button> -->
<div class="btn-group" dropdown is-open="false">
  <button type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
    {{pageItemCount}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li role="menuitem" ng-repeat="item in pageItemCountList">
      <a ng-click="selectPageItemCount(item)">{{item}}</a>
    </li>
  </ul>
</div>
<label>Items / Page</label>
<!-- <button popover-template="templateUrl" popover-placement="bottom" type="button" class="btn btn-default">More</button> -->
