<div>
  <button type="button" class="btn btn-default" ng-controller="AddImageModalCtrl" ng-click="open()">{{ 'IMAGE_ADD' | translate}}</button>
  <br>
  <div list-toolbar-directive></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Media Type</th>
        <th>State</th>
        <th>Status</th>
        <th>Guest OS</th>
        <th>Size</th>
        <th>Format</th>
        <th>UUID</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemList" ng-click="select($event, item)" ng-class="{'table-highlight': item.selected}">
        <td ng-if="item.collapsed"><a ng-click="item.collapsed=!item.collapsed">{{item.name}}</a></td>
        <td ng-if="item.collapsed">{{item.mediaType}}</td>
        <td ng-if="item.collapsed">{{item.state}}</td>
        <td ng-if="item.collapsed">{{item.status}}</td>
        <td ng-if="item.collapsed">{{item.platform}}</td>
        <td ng-if="item.collapsed">{{ZStackUtil.bytesToSize(item.size)}}</td>
        <td ng-if="item.collapsed">{{item.format}}</td>
        <td ng-if="item.collapsed">{{item.uuid}}</td>
        <td colspan="8" ng-if="!item.collapsed">
          <div image-details-directive ng-model="item"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>