<div ng-show="showDialog">
  <div class="modal-header">
    <h3>{{ 'INSTANCE_CREATE' | translate }}</h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group required">
        <label>Name:</label>
        <input type="text" class="form-control" ng-model="name">
      </div>
      <div class="form-group required">
        <label>InstanceOffering:</label>
        <input type="text" class="form-control" ng-model="instanceOffering.name" readonly>
        <a ng-controller="InstanceOfferingModalCtrl" ng-click="open()">Select</a>
      </div>
      <div class="form-group required">
        <label>Image:</label>
        <input type="text" class="form-control" ng-model="image.name" readonly>
        <a ng-controller="ImageModalCtrl" href="" ng-click="open()">Select</a>
      </div>
      <div class="form-group">
        <label>DataOffering:</label>
        <input type="text" class="form-control" ng-model="dataOffering.name" readonly placeholder="Optional">
        <a ng-controller="DataOfferingModalCtrl" ng-click="open()">Select</a>
      </div>
      <div class="form-group">
        <label>VM Host Name:</label>
        <input type="text" class="form-control" ng-model="hostname" placeholder="Optional">
      </div>
      <div class="form-group" ng-if="!multiHost">
        <label>Static Ip:</label>
        <input type="text" class="form-control" ng-model="ip" placeholder="Optional">
      </div>
      <div class="form-group" ng-if="!multiHost">
        <label>Host:</label>
        <input type="text" class="form-control" ng-model="host.name" readonly placeholder="Optional">
        <a ng-controller="HostModalCtrl" ng-click="open()">Select</a>
      </div>
      <div class="form-group" ng-if="!multiHost">
        <label>Description:</label>
        <input type="text" class="form-control" ng-model="description" placeholder="Optional">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="multiHost">
          Create multiple hosts
        </label>
      </div>
      <div class="form-group" ng-if="multiHost">
        <label>Create Count:</label>
        <input type="number" class="form-control" ng-model="$parent.createCount">
      </div>
    </form>
  </div>
  <div ng-include="'js/helper_modals/footer.html'"></div>
</div>