<div ng-show="showDialog">
  <div class="modal-header">
    <h3>{{data.modalName}}</h3>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" ng-model="name">
      </div>
      <div class="form-group">
        <label>Host Name:</label>
        <input type="text" class="form-control" ng-model="hostname">
      </div>
      <div class="form-group">
        <label>Image:</label>
        <input type="text" class="form-control" ng-model="image.name" readonly>
        <a ng-controller="ImageModalCtrl" href="" ng-click="open()">Select</a>
      </div>
      <div class="form-group">
        <label>InstanceOffering:</label>
        <input type="text" class="form-control" ng-model="instanceOffering.name" readonly>
        <a ng-controller="InstanceOfferingModalCtrl" ng-click="open()">Select</a>
      </div>
      <div class="form-group">
        <label>DataOffering:</label>
        <input type="text" class="form-control" ng-model="dataOffering.name" readonly>
        <a ng-controller="DataOfferingModalCtrl" ng-click="open()">Select</a>
      </div>
      <div class="form-group">
        <label>Host:</label>
        <input type="text" class="form-control" ng-model="host.name" readonly>
        <a ng-controller="HostModalCtrl" ng-click="open()">Select</a>
      </div>
      <div class="form-group">
        <label>Ip:</label>
        <input type="text" class="form-control" ng-model="ip">
      </div>
      <div class="form-group">
        <label>Description:</label>
        <input type="text" class="form-control" ng-model="description">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default" ng-click="ok()">OK</button>
  </div>
</div>