<div class="form-horizontal zs-details">
  <div class="btn-toolbar">
    <span class="btn-group">
      <a class="btn btn-default" ng-if="data.state=='Stopped'" ng-click="start()">{{ 'INSTANCE_START' | translate }}</a>
      <a class="btn btn-default" ng-if="data.state=='Running'" ng-click="stop()">{{ 'INSTANCE_STOP' | translate }}</a>
      <a class="btn btn-default" ng-if="data.state=='Running'" ng-click="reboot()">{{ 'INSTANCE_REBOOT' | translate }}</a>
      <a class="btn btn-default" ng-if="data.state=='Running'" ng-click="console()">{{ 'INSTANCE_CONSOLE' | translate }}</a>
      <a class="btn btn-default" ng-if="data.state=='Stopped'" ng-controller="ImageModalCtrl" ng-click="open()">{{ 'INSTANCE_CHANGE_INSTANCE_OFFERING' | translate }}</a>
    </span>
    <span class="btn-group">
      <a class="btn btn-default" ng-controller="DataVolumeModalCtrl" ng-click="open()">{{ 'INSTANCE_ATTACH_VOLUME' | translate }}</a>
      <a class="btn btn-default" ng-controller="CurrentDataOfferingModalCtrl" ng-click="open(data.allVolumes)">{{ 'INSTANCE_DETACH_VOLUME' | translate }}</a>
    </span>
    <span class="btn-group">
      <a class="btn btn-default" ng-controller="DataVolumeModalCtrl" ng-click="open()">{{ 'INSTANCE_ATTACH_ISO' | translate }}</a>
      <a class="btn btn-default" ng-click="detachIso()">{{ 'INSTANCE_DETACH_ISO' | translate }}</a>
    </span>
    <span class="btn-group">
      <a class="btn btn-default" ng-if="data.state=='Running'" ng-controller="HostModalCtrl" ng-click="open()">{{ 'INSTANCE_MIGRATE' | translate }}</a>
      <a class="btn btn-danger" ng-controller="ConfirmModalCtrl" ng-click="open(destroy)">{{ 'INSTANCE_DELETE' | translate }}</a>
    </span>
    
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <label>{{ 'Name' | translate}}:</label>
        <div class="form-control-static">{{data.name}}</div>
      </div>
      <div class="row">
        <label>{{ 'Description' | translate }}:</label>
        <div class="form-control-static">{{data.description}}</div>
      </div>
      <div class="row">
        <label>{{ 'State' | translate }}:</label>
        <div class="form-control-static zs-state"><span class="label" ng-class="{'label-success': data.state=='Running', 'label-default': data.state!='Running'}">{{data.state}}</span></div>
      </div>
      <div class="row">
        <label>{{ 'Hypervisor' | translate }}:</label>
        <div class="form-control-static">{{data.hypervisorType}}</div>
      </div>
      <div class="row">
        <label>{{ 'CPU Number' | translate }}:</label>
        <div class="form-control-static">{{data.cpuNum}}</div>
      </div>
      <div class="row">
        <label>{{ 'Memory Size' | translate }}:</label>
        <div class="form-control-static">{{ZStackUtil.bytesToSize(data.memorySize)}}</div>
      </div>
      <div class="row">
        <label>{{ 'Create Date' | translate }}:</label>
        <div class="form-control-static">{{data.createDate}}</div>
      </div>
      <div class="row">
        <label>{{ 'Last Update Date' | translate }}:</label>
        <div class="form-control-static">{{data.lastOpDate}}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <label>UUID:</label>
        <div class="form-control-static">{{data.uuid}}</div>
      </div>
      <div class="row">
        <label>IP:</label>
        <div class="form-control-static">{{data.vmNics[0].ip}}</div>
      </div>
      <div class="row">
        <label>{{ 'Netmask' | translate }}:</label>
        <div class="form-control-static">{{data.vmNics[0].netmask}}</div>
      </div>
      <div class="row">
        <label>{{ 'Gateway' | translate }}:</label>
        <div class="form-control-static">{{data.vmNics[0].gateway}}</div>
      </div>
      <div class="row">
        <label>{{ 'MAC' | translate }}:</label>
        <div class="form-control-static">{{data.vmNics[0].mac}}</div>
      </div>
      <div class="row">
        <label>{{ 'Instance Offering UUID' | translate }}:</label>
        <div class="form-control-static"><a ng-href="#/main/instance_offering/{{data.instanceOfferingUuid}}">{{data.instanceOfferingUuid}}</a></div>
      </div>
      <div class="row">
        <label>{{ 'Image UUID' | translate }}:</label>
        <div class="form-control-static"><a ng-href="#/main/instance_offering/{{data.imageUuid}}">{{data.imageUuid}}</a></div>
      </div>
      <div class="row">
        <label>{{ 'Host UUID' | translate }}:</label>
        <div class="form-control-static"><a ng-href="#/main/instance_offering/{{data.hostUuid}}">{{data.hostUuid}}</a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <label>{{ 'Volume' | translate }}:</label>
  </div>
  <div class="row" style="padding: 5px 20px;">
    <table class="table" style="border: 1px solid rgb(204, 204, 204); background-color: transparent">
      <thead>
        <tr style="color: rgb(112, 112, 112);">
          <th style="min-width:300px; font-weight: normal;">{{ 'Name' | translate }}</th>
          <th style="min-width:100px; font-weight: normal;">{{ 'Size' | translate }}</th>
          <th style="min-width:80px; font-weight: normal;">{{ 'Type' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="volume in data.allVolumes">
          <td>{{volume.name}}</td>
          <td>{{ZStackUtil.bytesToSize(volume.size)}}</td>
          <td>{{volume.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <span><a class="btn zs-btn-noborder" ng-click="collapse()"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>