<div class="form-horizontal">
  <div>
    <span><a ng-click="collapse()">{{ 'COLLAPSE' | translate }}</a></span>
    <span><a ng-click="ZStackApi.deleteIpRange(data.uuid)">{{ 'DELETE' | translate }}</a></span>
  </div>
  <div class="row">
    <label class="col-md-5 control-label">Name:</label>
    <div class="form-control-static">{{data.name}}</div>
  </div>
  <div class="row">
    <label class="col-md-5 control-label">Start IP:</label>
    <div class="form-control-static">{{data.startIp}}</div>
  </div>
  <div class="row">
    <label class="col-md-5 control-label">End IP:</label>
    <div class="form-control-static">{{data.endIp}}</div>
  </div>
  <div class="row">
    <label class="col-md-5 control-label">Netmask:</label>
    <div class="form-control-static">{{data.netmask}}</div>
  </div>
  <div class="row">
    <label class="col-md-5 control-label">Gateway:</label>
    <div class="form-control-static">{{data.gateway}}</div>
  </div>
</div>