<div class="col-sm-9 col-md-10 main">
  <button type="button" class="btn btn-default" ng-controller="AddIpRangeModalCtrl" ng-click="open()">{{ 'NETWORK_ADD_IP_RANGE' | translate}}</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start IP</th>
        <th>End IP</th>
        <th>Netmask</th>
        <th>Gateway</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemList[0].ipRanges">
        <td>{{item.name}}</td>
        <td>{{item.startIp}}</td>
        <td>{{item.endIp}}</td>
        <td>{{item.netmask}}</td>
        <td>{{item.gateway}}</td>
      </tr>
    </tbody>
  </table>
</div>