<div ng-show="showDialog">
  <div class="modal-header">
    <h3>{{ 'VOLUME_CREATE_IMAGE' | translate}}</h3>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" ng-model="name">
      </div>
      <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" rows="3" ng-model="description"></textarea>
      </div>
      <div class="form-group">
        <label for="usr">Plateform:</label>
        <div class="btn-group" dropdown is-open="false">
          <button id="platform-button" type="button" class="btn" dropdown-toggle ng-disabled="disabled">
            {{platform}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="platform-button">
            <li role="menuitem" ng-repeat="item in platformList">
              <a ng-click="select('platform', item)">{{item}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="usr">Bits:</label>
        <div class="btn-group" dropdown is-open="false">
          <button id="platform-button" type="button" class="btn" dropdown-toggle ng-disabled="disabled">
            {{bits}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="platform-button">
            <li role="menuitem" ng-repeat="item in bitsList">
              <a ng-click="select('platform', item)">{{item}}</a>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default" ng-click="ok()">OK</button>
  </div>
</div>