<div class="form-horizontal zs-details">
  <div class="btn-toolbar">
    <a class="btn btn-danger" ng-controller="ConfirmModalCtrl" ng-click="open(delete)">{{ 'INSTANCE_DELETE' | translate }}</a>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <label>{{ 'Name' | translate }}:</label>
        <div class="form-control-static">{{data.name}}</div>
      </div>
      <div class="row">
        <label>{{ 'Start IP' | translate }}:</label>
        <div class="form-control-static">{{data.startIp}}</div>
      </div>
      <div class="row">
        <label>{{ 'End IP' | translate }}:</label>
        <div class="form-control-static">{{data.endIp}}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <label>{{ 'Netmask' | translate }}:</label>
        <div class="form-control-static">{{data.netmask}}</div>
      </div>
      <div class="row">
        <label>{{ 'Gateway' | translate }}:</label>
        <div class="form-control-static">{{data.gateway}}</div>
      </div>
    </div>
  </div>
  <span><a class="btn zs-btn-noborder" ng-click="collapse()"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>