<div>
  <div class="zs-toolbar">
    <a class="btn btn-primary" ng-controller="AddIpRangeModalCtrl" ng-click="open()">{{ 'ADD' | translate}}</a>
    <a class="btn btn-danger" ng-if="selectList.length > 0" ng-click="delete()">{{ 'DELETE' | translate }}</a>
  </div>
  <table class="table table-hover" style="clear: both;">
    <thead>
      <tr>
        <th><input type="checkbox" ng-model="selectAllItems" ng-click="selectAll()"></input></th>
        <th>Name</th>
        <th>Start IP</th>
        <th>End IP</th>
        <th>Netmask</th>
        <th>Gateway</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemList[0].ipRanges" ng-class="{'table-highlight': item.selected}">
        <td><input type="checkbox" ng-model="item.selected" ng-click="select(item)"></input></td>
        <td ng-if="item.collapsed"><a ng-click="item.collapsed=!item.collapsed">{{item.name}}</a></td>
        <td ng-if="item.collapsed">{{item.startIp}}</td>
        <td ng-if="item.collapsed">{{item.endIp}}</td>
        <td ng-if="item.collapsed">{{item.netmask}}</td>
        <td ng-if="item.collapsed">{{item.gateway}}</td>
        <td colspan="5" ng-if="!item.collapsed">
          <div network-details-directive ng-model="item"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination_directive></pagination_directive>
</div>