<div class="col-sm-9 col-md-10 main">
  <button type="button" class="btn btn-default" ng-controller="AddDataOfferingModalCtrl" ng-click="open()">{{ 'DATA_OFFERING_ADD' | translate}}</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Disk Size</th>
        <th>State</th>
        <th>UUID</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemList">
        <td ng-if="item.collapsed"><a ng-click="item.collapsed=!item.collapsed">{{item.name}}</td>
        <td ng-if="item.collapsed">{{item.description}}</td>
        <td ng-if="item.collapsed">{{ZStackUtil.bytesToSize(item.diskSize)}}</td>
        <td ng-if="item.collapsed">{{item.state}}</td>
        <td ng-if="item.collapsed">{{item.uuid}}</td>
        <td colspan="5" ng-if="!item.collapsed">
          <div aaa-offering-details-directive ng-model="item" style="padding:0px 20px;"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>